@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');


.hero__subtitle img{
    width:2.3rem;
    height: 2.3rem;
}


.hero__content h1{
    font-size:3.2rem;
    font-weight: 600;
    margin-top:1rem;
    margin-bottom:2rem;
    color:var(--heading-color);

}


.hero__content h1 .highlight{
    color:#faa935;
}

.hero__content p{
    font-size:1.1rem;
    color:#6e7074;
    line-height:2rem;
}

.hero__img_box img,
.hero__img_box video {
    width: 100%;
    height: 350px;
    border-radius: 20px;
    border: 1px solid #faa935;
    object-fit: cover; /* Ensures the image/video covers the area */
}

.hero__content{
    padding-top: 3.5rem;
}

.hero__img_box{
    padding-top: 2rem;
}

.page1{
    border-bottom: 2px solid gold;
}


.services__subtitle{
    /* font-size: 3vw   ; */
    font-weight: 1000;
    color:#ef3c3c;
    font-family:"Island Moments", cursive;
    width:100%;
    padding-top: 20px;
    margin-top: 70px;
    /* padding: 0px 0.5rem; */
    padding-right: 1rem;
  /* background-color: red; */
    border-radius: 50px;
    font-weight: 500;
    font-size: 1.7rem;
}

.services__title{
    font-size: 2.5rem;
    font-weight: 500;
    /* width: max-content; */
    /* background-color: red; */
    /* padding: 0px 0.5rem;  */
    padding-right: 1rem;
    margin-top: 10px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 1.7rem;
}

/* .featured__tour-title {
    font-family: 'Island Moments', cursive;
  } */

  .cursive-font {
    font-family: 'Island Moments', cursive;
  }

  .subtitle{
    /* margin-top: 50px; */
    font-family: 'Island Moments', cursive;
  }

  

  .featured__tour-title{
/* max-width: 500px; */
/* background-color: red; */
    font-size: 2.3rem;
    font-weight: 500;
    margin-bottom: 30px;
    

  }

  .featured-tour-section {
    margin-top: 80px; /* Adjust the value as needed */
  }
